* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(221, 220, 220);
}

.navigation {
  display: flex;
  align-items: center;
  background-color: #270f27;
  height: 80px;
}

nav {
  display: flex;
  width: 85vw;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-left: 5vw;
}

.logo img {
  width: 60px;
}

.menu ul {
  display: flex;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  border-bottom: 2px solid #270f27;
  color: #72b48e;
  text-transform: uppercase;
  padding: 0 20px;
  font-weight: 700;
}

.menu ul li a:hover {
  border-bottom: 4px solid #67a17f;
  transition: all 0.2s;
  color: #67a17f;
}

/* COMPONENTS */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 70vw;
  margin: 0px auto 30px;
}

.title h1 {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
  margin: 20px 0 30px;
  color: #5f9c79;
}

.title-gold h1 {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
  margin: 20px 0 30px;
  color: #5f9c79;
}

.dark {
  background-color: #270f27;
  padding-bottom: 30px;
}

/* ABOUT */

.about {
  display: flex;
}

.about p a {
  font-weight: bold;
  text-decoration: none;
  color: #270f27;
}

.about-img {
  width: 500px;
  height: 210px;
  background-image: url("https://avatars.githubusercontent.com/u/86818106?v=4");
  background-size: cover;
  display: block;
  border-radius: 300px;
  -webkit-border-radius: 165px;
  -moz-border-radius: 165px;
  margin-left: 20px;
}

/* PROJECTS */

.light {
  margin: 5px;
  color: rgb(223, 221, 221);
}

.light ul {
  margin-left: 20px;
}

.light a {
  text-decoration: none;
  color: rgb(223, 221, 221);
  font-size: small;
  font-style: italic;
}

.proj-area {
  display: flex;
  justify-content: space-between;
}

.proj-img {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.proj-item {
  display: block;
  align-items: center;
  width: 360px;
  height: 440px;
  margin: 0 10px;
  padding: 10px 5px;
  background-color: #404e7d;
  border-radius: 3px;
}

.proj-item img {
  width: 340px;
}

/* CONTACT */

.sub-title {
  text-transform: capitalize;
  margin: 60px 0 18px;
  color: #5f9c79;
}

.social-area {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.social-media {
  display: block;
  margin: 0px 30px 10px;
  padding: 5px;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social img {
  width: 45px;
}

.social-media h3 {
  font-weight: 400;
}

.social-media a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

.contact-me {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 25px;
}

.contact-me input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(116, 115, 115);
}

.contact-me .send {
  cursor: pointer;
}

.contact-me label {
  margin-right: 10px;
}

/* FOOTER */

footer {
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  background-color: #270f27;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

.social-mini {
  display: flex;
  margin-left: 65px;
}

.social-mini img {
  width: 35px;
  margin: 0 10px;
}

footer h4 {
  font-size: 11px;
  font-weight: 400;
}
